body {
    border: 0;
    background-color: white;
}

.controls {
    position:relative;
    left: 30;
    float:inline-start;
}

.gameover {
    display:none;
    position:relative;
    top: 100;
    font-size:25;
    float:inline-start;
}

/* make the canvas the size of the viewport */
canvas {
    float:left;
    width: 440px;
    height: 880px;
    display: block;
}